{% extends 'base.html' %}
{% block content %}
    <h2 class="headline">{{ title | safe }}</h2>
    <div class="projectsContainer">
    {% for project in projects  %}
        <section class="project">
            <div class="project__cover">
                <a href="{{project.get_absolute_url}}">
                    <img class="cover" src="{{project.get_cover}}" alt="Okładka {{project.title.name}}">
                </a>
                <div class="cover__title inverse"> <a href="{{ project.get_absolute_url }}">{{project.title.name}}</a></div>
            </div>
       
                <section class="project__info">
                    <h3 class="title"><a href="{{project.get_absolute_url}}">{{ project.title.name }}</a></h3>
                    <table class="info">
                        <tr>
                            <td class="info__key">
                                Gatunki:
                            </td>
                            <td class="info__value">
                                {% for genre in project.title.genres.all  %}
                                    <a href="{{ genre.get_absolute_url }}" class="genre">{{ genre.name | safe }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="info__key">
                                Autor: 
                            </td>
                            <td class="info__value">
                                {% for author in project.title.authors.all  %}
                                    <a href="{{ author.get_absolute_url }}" class="author">{{ author.name | safe }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}                                
                            </td>
                        </tr>
                        <tr>
                            <td class="info__key">Rozdziały: </td>
                            <td class="info__value">{{project.number_of_chapters}}</td>
                        </tr>
                        <tr>
                            <td class="info__key">Stan: </td>
                            <td class="info__value">{{project.get_state_display | safe}}</td>
                        </tr>
                    </table>
                </section>                

        </section>
    {% endfor %}
    </div>
{% endblock content %}
    