{% extends 'base.html' %}
{% block content %}

    <div class="projectsContainer">
    {% for project in projects  %}
        <section class="project">
            <div class="project__cover">
                <a href="{% url 'project' project.id  %}">
                    {% load static %}
                    <img src="{% static '/images/covers/'|add:project.short_name|add:'/cover01_small.jpg' %}" alt="Okładka {{project.long_name}}">
                </a>
            </div>
       
                <section class="project__info">
                    <h3 class="title"><a href="{% url 'project' project.id  %}">{{ project.name }}</a></h3>
                    <table class="info">
                        <tr>
                            <td class="info__key">
                                Gatunki:
                            </td>
                            <td class="info__value">
                                {% for genre in project.genres.all  %}
                                    <a href="{% url 'projectsForGenre' genre.id %}" class="genre">{{ genre.name | safe }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="info__key">
                                Autor: 
                            </td>
                            <td class="info__value">
                                {{project.author}}
                            </td>
                        </tr>
                    </table>
                </section>                

        </section>
    {% endfor %}
    </div>
{% endblock content %}
    