{% extends 'base.html' %}
{% block content %}

    <div class="projectsContainer">
    {% for project in projects  %}
        <section class="project">
            <div class="project__cover">
                <a href="{{project.title.get_absolute_url}}">
                    <img src="{{project.title.project.get_cover}}" alt="Okładka {{project.title.name}}">
                </a>
            </div>
       
                <section class="project__info">
                    <h3 class="title"><a href="{{project.title.project.get_absolute_url}}">{{ project.name }}</a></h3>
                    <table class="info">
                        <tr>
                            <td class="info__key">
                                Gatunki:
                            </td>
                            <td class="info__value">
                                {% for genre in project.title.genres.all  %}
                                    <a href="{{ genre.get_absolute_url }}" class="genre">{{ genre.name | safe }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="info__key">
                                Autor: 
                            </td>
                            <td class="info__value">
                                {% for author in project.title.authors.all  %}
                                    <a href="{{ author.get_absolute_url }}" class="author">{{ author.name | safe }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}                                
                            </td>
                        </tr>
                    </table>
                </section>                

        </section>
    {% endfor %}
    </div>
{% endblock content %}
    