{% extends 'base.html' %}
{% block content %}
<h2><img src="{{project.banner.url}}" alt=""></h2>
<section class="single">
    <h3 class="title primary-text-color">{{ project.title.name }}</h3>
    <table class="single-info">
        <tr>
            <td class="single-info__key">Gatunki:</td>
            <td class="single-info__value">
                {% for genre in project.title.genres.all %}
                <a href="{{ genre.get_absolute_url }}" class="genre">{{ genre.name | safe }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="single-info__key">Autor:</td>
            <td class="single-info__value">
                {% for author in project.title.authors.all  %}
                    <a href="{{ author.get_absolute_url }}" class="author">{{ author.name | safe }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="single-info__key">Ilość tomów:</td>
            <td class="single-info__value">{{project.title.total_volumes}}</td>
        </tr>
        <tr>
            <td class="single-info__key">Stan w japonii:</td>
            <td class="single-info__value">{{project.title.get_state_japan_display}}</td>
        </tr>
        <tr>
            <td class="single-info__key">Stan u nas:</td>
            <td class="single-info__value">{{project.get_state_display | safe}}</td>
        </tr>
        {% for role in project.role_set.all %}
        <tr>
            <td class="single-info__key">{{ role.job.name }}:</td>
            <td class="single-info__value">{{ role.user.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="description">{{project.title.description | safe}}</div>
</section>

{% if project.state < 4 %}
 <section class="volumes">

    {% for volume in volumes %}
    <div class="volume">
        <div class="volume__cover">
            <img src="{{volume.cover.url}}">
        </div>
        <div class="volume__chapters">
            <span class="volume__title"> {% if volume.number > 0 %}Tom {{volume.number}} {% else %} {{volume.specific_name}} {% endif %}</span>
            <table class="chapters">
                {%for chapter in volume.chapter_set.all%}
                <tr>
                    <td class=""><a href="http://reader.hayate.eu/{{chapter.project.slug}}/{{chapter.volume.order_number}}/{{chapter.order_number}}/view">{{chapter.prefix_title}} {% if chapter.number != 0 %}{{chapter.number}}{% endif %}</a><a href="/projects/download/{{chapter.id}}">DL<a/></td>
                    <td class="chapter-title"><a href="http://reader.hayate.eu/{{chapter.project.slug}}/{{chapter.volume.order_number}}/{{chapter.order_number}}/view">{{chapter.title}}</a></td>
                    <td class="chapter-date">{{chapter.date}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}