{% extends 'base.html' %}


{% block content %}

    <div class="news">To jest News Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita iusto repudiandae quam esse nisi iste laudantium! Velit et aliquam sit quos cupiditate, quasi veniam quas quo ad repellendus! Cum, libero.</div>

    <section class="main-section random">
        <h2 class="headline">Losowe projekty</h2>
        <div class="random__content">
            
            {% for project in projects  %}
                <div class="random__container">
                    <a href="{{ project.get_absolute_url }}">
                        <img class="random__img" src="{{project.get_cover}}" alt="Okładka {{project.long_name}}" />
                    </a>
                    <div class="random__title inverse"> <a href="{{ project.get_absolute_url }}">{{project.title.name}}</a></div>
                </div>
            {% endfor %}
                
            </div>
    </section>

    <section class="main-section in-need">
        <h2 class="headline">Projekty potrzebujące wsparcia</h2>
        <div class="in-need__list">
            
            {% for project in projects_in_need  %}
                <div class="in-need__container">
                    <img class="in-need__img" src="{{project.project.get_cover}}" alt="Okładka {{project.project.title.name}}" />
                </div>
                <div class="in-need__description">
                    <h3 class="in-need__title primary-text-color inverse"><a href="{{ project.get_absolute_url }}">{{project.project.title.name}}</a></h3>
                    <h4 class="in-need__job">{{project.job_text}}</h4>
                    {{project.description}}
                </div>
            {% endfor %}
                
            </div>
    </section>


{% endblock content %}