/*basic layout */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul {
  list-style: none
}

button,
input,
select,
textarea {
  margin: 0
}

html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%
}

audio {
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0;
  text-align: left
}

a {
  text-decoration: none;
}

body {

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  background-color: #F4F4F4;
  background-image: url("bg.png");
  background-repeat: repeat;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: rgb(209, 72, 72);
  text-decoration: none;
}

.container aside,
.container main,
.container footer {
  padding: 10px 15px 0 15px;

  /* border: 1px solid rgba(210, 210, 210, .80);; 
  border-radius: 5px; */
}


.container {
  margin: auto;
  background-color: white;
  padding: 40px 10px 0 10px;
  margin: auto;
}

.container main {
  margin: 40px 0 0 0;

}

@media(min-width: 800px) {
  .container {

    max-width: 1400px;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-areas: "main aside";
  }
}

/* .container header, footer, nav {
    border: 1px solid #BBB;
    border-radius: 5px;    
  }*/

@media (max-width: 1300px) {
  body {
    width: 100%
  }

  .container {
    display: block;
  }

  header div {
    flex: 1 1 0;
  }

}

.container aside {

  grid-area: aside;
  margin: 40px 0 0 40px;    
}

/* utility classes */

.headline {
  display: block;
  border-top: 2px solid rgb(209, 72, 72);
  border-bottom:  2px solid rgb(209, 72, 72);
  margin: 25px 5%;
}

.primary-text-color {
  color: rgb(209, 72, 72);
}

.headline a:hover {
  color: black;
}

.main-section {
  margin: 0 30px 30px 30px;
}

.main-section img {
  min-width: 175px;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5em;
}

main img {
  border-radius: 0.5em;
  object-fit: cover;
}

.inverse a {
  color: rgb(209, 72, 72)
}

.inverse a:hover {
  color: black;
}




/* navigation 2.0 */


.fixed-bar {
  position: fixed;
  margin: auto;
  display: block;
  text-align: center;
  background-color:white;
  opacity: 0.93;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 7;
  
  width: 100%;
}

  nav {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 1.1em;    
  }

.fa-ht {
  text-align: center;
  margin: 0 3px 0 0;
}
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  flex: 1 1 0;
}

.dropdown ul {
  display:none;
}
  

  .fixed-bar {

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25)
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 10px rgba(0, 0, 0, .075) */ 
  }

  nav ul li a:focus-within {
    color: rgb(209, 72, 72);
    outline: none;

  }

  nav ul li a {
    display: block;
    padding: 10px 10px;
    color: black;
  }
 
  .dropdown {
    position: relative;
  }
 
  .dropdown ul {
    display: none;
  }
  
  .dropdown ul li {
    display: block;
    
  }

 .dropdown ul li:hover a, .dropdown a:focus-within a  {
    color: white;
    background-color: rgb(209, 72, 72);
  }

  .dropdown:hover ul, .dropdown:focus-within ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: white;
    min-width: 6.5rem;
    z-index: 12;
    border-left: 2px solid rgb(209, 72, 72);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
    text-align: left;
  
  }

  .dropdown ul a {
    transition: background-color 0.1s ease-out;
  }

  nav ul.social li {
    flex: 0 1 0;
    padding: 0px 10px;
  }

  nav ul.social {
    flex: 0 1 0;
    display: flex;
  }


  .logo {
  display: block;
  vertical-align: middle;
  background: center url('img/logo.png') no-repeat;
  width: 107px;
  height: 100%;
  margin: 0 15px 0 0;
}

/*news page*/

.news {
    color: rgb(121, 34, 34);
    background-color:  rgb(245, 198, 198);
    border-color:  rgb(245, 198, 198);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.random__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
  margin: 10px 5px auto;
}

.random__container {
  position: relative;
  width: 175px;
  height: 250px;
  margin: 10px 0;
}

.random__title {
  position: absolute;
  bottom: 0px;
  font-size: 0.9em;
  font-weight: bold;
  height: 1.5em;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(255, 255, 255, 0.90);
  overflow: hidden;
  color: rgb(209, 72, 72);
  text-overflow: ellipsis;
  text-align: center;
}

.random__title:hover {
  overflow: visible;
  text-overflow: clip;
}

@media screen and (max-width: 850px) {
  .in-need {
    display: none;
  }
}

.in-need__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 100%;
  padding: 10px 0 10px 0;
  margin: 5px auto;
}

.in-need__container {
  margin: 0px 10px;
}

.in-need__img {
  min-width: 175px;
  height: 250px;
  object-fit: cover;
}

.in-need__description {
  font-size: 1.1em;
  max-width: 300px;
  margin: 0 5px auto;
  text-align: justify;
  text-justify: inter-word;
}

.in-need__title  {
  font-size: 1.5em
}

.in-need__job {
  font-size: 1.2em;
}

@media screen and (max-width: 900px) {
  .in-need__list {
    display: block;
  }
  
}




/* projects page */

h2 {
  flex-basis: 100%;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.3em;
  font-weight: 100;
  padding: 15px 0 15px 0;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
}

.cover {
  object-fit: cover;
  width: 175px;
  height: 250px;
}

.cover__title {
  display: none;
}

.project__cover {
  width: 175px;
  height: 250px;
  position: relative;
}

.project__info {
  padding: 0 0 0 10px;
  width: 300px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .project {
    width: auto;
  }

  .project__info {
    display: none;
  }

  .cover__title {
  position: absolute;
  display: block;
  bottom: 0px;
  font-size: 0.9em;
  font-weight: bold;
  height: 1.5em;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(255, 255, 255, 0.90);
  overflow: hidden;
  color: rgb(209, 72, 72);
  text-overflow: ellipsis;
  text-align: center;
}
}

.title {
  font-size: 1.5em;
  padding: 0 0 10px 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info {
  vertical-align: top;
  padding: 2px 0 0 5px;
}

.info__key {
  vertical-align: baseline;
}

.single-info__value a {
  padding: 2px;
  white-space: nowrap
}

.author {
  padding: 0 0 0 3px;

}

.info__value {
  padding: 0 0 0 5px;
}

/* latest */

.latest {
  font-size: 0.9em;
}

.latest__item {
  border-bottom: 1px solid #DDD;
  margin: 0 0 3px 0;
  padding: 0 0 2px 0;
}

.latest__project,
.latest__chapter {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.latest__project:hover,
.latest__chapter:hover {
  overflow: visible;
}

.latest__chapter {
  margin-left: 10px;
  opacity: 0.8;
}

.latest__chapter-number {
  font-weight: bold;
  font-size: 1.1em;
}

/* project page */

@media(max-width: 1050px) {

  .chapter-title{
    display: none;
  }
}

@media(max-width: 500px),  {

  .volume__cover{
    display: none;
  }
}

.single-info {
  margin: 0 15px 0 0px;
}

.single-info__key {
  padding: 0 25px 0 0;
  white-space: nowrap;
  vertical-align: top;
  font-weight: bold;
}

.description {
  padding: 15px 8% 20px 8%;
  font-size: 1.15em;
  text-align: justify;
}

.chapters {
  width: 100%;
}

.chapters tr {
  display: flex;
  border-bottom: 1px solid #DDD;
  width: 100%;
}

.chapters td {
  padding: 3px 6px;
}

.chapter-title  {
  width: 630px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.chapter-title:hover  {
  overflow: visible;
  background-color: white;
  z-index: 10;
}

.chapter-date {
  text-align: right;
  color: #888;
  flex: 1 1 0;
  width: 100%;
  min-width: 88px !important;
}

.volumes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.volume {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 20px 0 0 0;
  width: 100%;
  
}

.volume__chapters {
  width: 100%;
  flex: 1 1 0;
}

.volume__cover {
  padding: 5px 0 0 0;
  min-width: 175px;
}

.volume__title {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(209, 72, 72);
  display:block;
  padding: 0 0 0 2px;
}


@media (max-width: 600px) {
  .narrow-device {
    display: none
  }

  .random__container {
    width: 131px;
    height: 187px;
  }
  
  .project__cover {
    width: 131px;
    height: 187px;
  }

  .cover {
    width: 131px;
    height: 187px;
  }
  
  .main-section img {
    min-width: 131px;
    height: 187px;
  } 
  .latest {
    text-align: center;
  }
  
  .main-section {
    margin: 0px;
  }
  
  .container aside {
    margin: 0px;
    padding: 0px;
  }

  .random__content {
    justify-content: space-evenly !important;
  }

.logo {
  background: no-repeat center url('img/favicon.png');
  background-size: 100% 50px;
  width: 50px;
}

nav {
  font-size: 0.9em;
}

}