<div class="fixed-bar">
    <nav>
        {% load static %}
        <a href="{%url 'main_site' %}"><div class="logo" alt="Główna Strona"></div></a>
        <ul class ="menu">
            <li><a href="http://forum.hayate.eu/"><span class="fas fa-list-alt fa-ht"></span>Forum</a></li>
            <li class="dropdown"><a href="{%url 'projects' %}"><span class="fas fa-folder-open fa-ht"></span>Projekty<span class="fa fa-caret-down narrow-device"></span></a>
                <ul>
                    <li>
                        <a href="{%url 'projects_active' %}">Aktywne</a>
                    </li>
                    <li>
                        <a href="{%url 'projects_completed' %}">Zakończone</a>
                    </li>
                    <li>
                        <a href="{%url 'projects_abandoned' %}">Porzucone</a>
                    </li>
                </ul>
            </li>
            <li><a href="{%url 'members' %}"><span class="fas fa-id-card fa-ht"></span>Grupa</a></li>
            <li class="narrow-device"><a href="https://forum.hayate.eu/viewtopic.php?f=102&t=10087"><span class="fas fa-pen fa-ht"></span>Dołącz do nas</a></li>
            <li class="narrow-device"><a href="#"><span class="fas fa-envelope fa-ht"></span>Kontakt</a></li>
            <li class="narrow-device"><a href="http://forum.hayate.eu/viewtopic.php?f=67&t=10086"><span class="fas fa-spider fa-ht"></span>Zgłoś błąd</a></li>
        </ul>

        <ul class="social narrow-device">
            <li><a href="https://hayate.eu/discord" class="fb"><span class="fab fa-2x fa-discord fa-ht"></span></a></li>
        </ul>
    </nav>
</div>